.news {
 text-align: center;
  margin-top:100px;
line-height:1.8;
  width:30%;
 
}

.news h2 {
  margin-bottom:30px;
  font-size:20px;
  text-align: center;
  margin-left:270px;
  width: 70%;
}

.news ul {
  border:solid orangered;
  width:70%;
  margin-left: 180px;
  list-style: none; 
  height:200px;
  padding:80px;
  font-size:17px;
  font-family:cursive;
}



.A {
  background: url("../img/unnamed.jpg")  no-repeat ;
  background-size: cover;

  height:500px;  
}



.news p {
  color:red;
}

.news li {
  padding-bottom:30px;
}

.news img {
 margin-left:800px;
 width:100%;
 margin-top:-400px;
 height:400px;
}


.history {
margin-top:300px;
width:50%;
margin-left:350px;
}

.history h2 {
font-size:20px;
text-align:center;
margin-bottom:30px;
}

.history ul {
  border:solid orangered;
  text-align: center;
  line-height: 1.8;
  list-style: none;
  padding-top:100px;
  padding-bottom:100px;
  font-size:20px;
}



body {
  background:url("../img/8de5d976ffe9b8b0aa2ff35ab021b8a4.png") no-repeat;
  background-size:cover;
}

@media screen and (max-width: 1024px) {
.news img {
  position:relative;
  left:-240px;
  position:relative;
  top:-30px;
  height:390px;
  width:400px;
}

.news ul {
  line-height:1.8;
  padding: 50px;
  height:300px;
  margin-left:60px;
  width:300px;

}

.news li {
  padding-bottom:30px;
  padding-top:10px;
  white-space: nowrap;
}

.news h2 {
  margin-left:130px;
}

body {
  height:3500px;
  width:100%;
  
}

main {
  overflow: hidden;
}
.history ul {
  margin-left:20px;
}

.history  {
  position:relative;
  left:-80px;
}


}


@media screen and (max-width: 768px) {
.news ul {
  margin-left:50px;
  margin-right:20px;
  font-size:15px;
  padding-bottom:20px;
  padding-right:80px;
}

.news li{
  white-space: nowrap;
}
.news img {
  margin-left:600px;
}
body {
  width:100%;
}
 
.history ul{
  position:relative;
  left:-150px;
width:500px;
}

.history h2 {
  margin-left:-120px;
}
.news img {
  width:300px;;
  height:360px;
  margin-left:650px;
}

.news ul {
  width:170px;
}

.history {
  margin-top:100px;
}

body {
  height:2920px;
}
}
@media screen and (max-width: 480px) {
  .news h2{
    white-space: nowrap;
   margin-left:150px;
   }

   .news {
     margin-left:-5px;
   }

   img {
     margin-left:100px;
   }

   main {
     overflow: visible;
   }

   .news img {
     margin-top:200px;
     margin-left:290px;
   }

   .history ul {
     width:300px;
     margin-left:-80px;
   }

   .history li {
     font-size:15px;
   }

   .history h2 {
     margin-left:-330px;
   }

   body {
     height:3100px;
   }
}